camel-extension/src/main/resources/schema/customer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" 
  xmlns:acme="http://www.acme.xyz">

    <xs:element name="Envelop">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="Customer" type="TCustomer" />
        </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:complexType name="TCustomer">
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="surname" type="xs:string" />
        <xs:element name="fullName" type="xs:string" />
      </xs:sequence>
    </xs:complexType>

</xs:schema>